
html{

}
.banner{
  height: 100vh;
  background-image:url("../../../assets/images/kazewalpapper.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner img{
  padding-top: 5%;
  display: flex;
  width: 50%;
  margin: auto;
}

.banner h1{
  font-size: 5em;
  color: rgb(255, 255, 255);
}

.banner h1 a{
  text-decoration: none;
  color: #4b175f;
}

.info-box-lancamento{
  padding-top: 84px;
  padding-bottom: 84px;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.info-box-text{
  max-width: 300px;
  display: block !important;
  align-self: center !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.info-box-dev{
  max-width: 300px;
  display: block !important;
  align-self: center !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.iXsbOx {
  padding: 40px 48px;
  background-color: rgb(255, 255, 255);
}

.cEaGdX {
  padding: 40px 48px;
  background-color: rgb(190, 182, 182);
}

.info-box-centraliza{
  max-width: 940px;
  padding: 0px;
  background-color: transparent;
}

.row{
  display: flex;
  flex-wrap: wrap;
  flex: 1px;
  margin-left: -16px;
  margin-right: -16px;
}

.info-box-img{
  font-weight: 700 !important;
  font-size: 32px !important;
  font-family: var(--uicomponents-font-family, "Lexend Deca", Helvetica, Arial, sans-serif) !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  margin-bottom: 16px;
  margin-top: 0;
  display: block;
  line-height: normal !important;
  text-transform: none !important;
}

.btn-box button{
  margin-top: 10px;
  border-radius: 3px;
  width: 120px;
  height: 40px;
  border: 0;
  background-color: rgb(55, 78, 120);
  color: #fff;
  cursor: pointer;
  transition:  .2;
}

/* .deck{
  position: relative;
  height: 500px;
  display: flex;
  background-color: red ;
}

.deck-itens-container{
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: green;
}

.deck-itens{
  margin-top: 70px;
  min-width: 230px;
  justify-content: center;
} */

.page-content{
  position: relative;
  top: 18%;
}

.vspotlight{
  background-color: #484649;
}

.hspotlight{
  padding-top: 20px;
  background-color: #fffeff;
}

article{
  unicode-bidi: isolate;
}

section.vspotlight{
  display: table;
  padding: 32px 0px;
  margin: 0px auto;
  width: 100%;
  box-sizing: border-box;
}


.wrap{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

section.vspotlight article, section.hspotlight article{
  display: table-cell;
  width: 25%;
  vertical-align: top;
  position: relative;
  overflow: hidden;
}


article a.thumb{
  box-sizing: border-box;
  margin: 0 12px;
  position: relative;
  overflow: hidden;
  display: block;
}

section a{
  text-decoration: none;
  cursor: pointer;
}

section.vspotlight article img, section.hspotlight article img{
    height: 475px;
    width: 100%;
    min-width: 100%;
    transition: transform .5s ease-out;
    border-radius: 4px;
    display: block;
    object-fit: cover;
    object-position: center;
}

.titulo-section{
  font-size: 36px;
    color: #000;
    font-weight: 900;
    letter-spacing: -0.5px;
    line-height: 1.2em;
    display: block;
    margin: 0px 0px 18px 0px;
    font-family: 'Inter Var', sans-serif;
}

section.vspotlight .caption, section.hspotlight .caption{
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin: 0px;
  padding: 24px;
  min-height: 66px;
  box-sizing: border-box;
  background-color: rgba(34, 63, 90, 0.75);
  color: #FFF;
  font-size: 18px;
  line-height: 1.25;
  font-weight: 900;
  letter-spacing: 0.005em;

}

section.vspotlight img.thumb:hover{
  transform: scale(1.04);
  transition: transform .75s ease-in-out;
}

section.vspotlight .caption:hover, section.hspotlight .caption:hover{
  height: 100px;
  transition: 2s;
}
