

<html>
  <body>
    <section class="banner">
      <h1> <img src="../../../../assets/images/logoindieverso4.png" alt=""></h1>
    </section>
    <main>

      <div class="page-content">
        <section class="vspotlight">
          <div class="wrap">
            <div class="titulo-section"><h2>Notícias</h2></div>
            <article class="card">
              <a routerLink="" class="thumb">
                <img src="../../../../assets/images/Articles/sans.png" alt="" class="thumb">
                <h3 style="background-color: rgba(66, 76, 165, 0.75);" class="caption">
                  Toby Fox deu o cu e VEJA MAIS
                </h3>
              </a>
            </article>
            <article class="card">
              <a routerLink="" class="thumb">
                <img src="../../../../assets/images/Articles/horizon.png" alt="" class="thumb">
                <h3 style="background-color: rgba(148, 61, 61, 0.75);" class="caption">
                  Crítico de carro diz: Carrinhos fodas
                </h3>
              </a>
            </article>
            <article class="card">
              <a routerLink="" class="thumb">
                <img src="../../../../assets/images/Articles/sifu.jpg" alt="" class="thumb">
                <h3 style="background-color: rgba(55, 51, 51, 0.75);" class="caption">
                  YOOOOSHI
                </h3>
              </a>
            </article>
            <article class="card">
              <a routerLink="#" class="thumb">
                <img src="../../../../assets/images/capsule_616x353.jpg" alt="" class="thumb">
                <h3 style="background-color: rgba(69, 37, 102, 0.75);" class="caption">
                  Tapa buraco
                </h3>
              </a>
            </article>
          </div>
        </section>
        <section class="hspotlight">
          <div class="wrap">
            <div class="titulo-section"><h2>Análises</h2></div>
            <article class="card">
              <a routerLink="#" class="thumb">
                <img src="../../../../assets/images/capsule_616x353.jpg" alt="" class="thumb">
                <h3 class="caption">
                  Joguin
                </h3>
              </a>
            </article>
            <article class="card">
              <a routerLink="" class="thumb">
                <img src="../../../../assets/images/capsule_616x353.jpg" alt="" class="thumb">
                <h3 class="caption">
                  Joguin
                </h3>
              </a>
            </article>
            <article class="card">
              <a routerLink="" class="thumb">
                <img src="../../../../assets/images/capsule_616x353.jpg" alt="" class="thumb">
                <h3 class="caption">
                  Joguin
                </h3>
              </a>
            </article>
            <article class="card">
              <a routerLink="" class="thumb">
                <img src="../../../../assets/images/capsule_616x353.jpg" alt="" class="thumb">
                <h3 class="caption">
                  Joguin
                </h3>
              </a>
            </article>
          </div>
        </section>
      </div>
    </main>
  </body>
</html>


