
html{
  height: 400vh;
}
.banner{
  height: 100vh;
  background-image:url("../../../assets/images/kazewalpapper.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1{
  font-size: 5em;
  color: rgb(255, 255, 255);
}

.banner h1 a{
  text-decoration: none;
  color: #4b175f;
}

.info-box-lancamento{
  padding-top: 84px;
  padding-bottom: 84px;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.info-box-text{
  max-width: 300px;
  display: block !important;
  align-self: center !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.info-box-dev{
  max-width: 300px;
  display: block !important;
  align-self: center !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.iXsbOx {
  padding: 40px 48px;
  background-color: rgb(255, 255, 255);
}

.cEaGdX {
  padding: 40px 48px;
  background-color: rgb(190, 182, 182);
}

.info-box-centraliza{
  max-width: 940px;
  padding: 0px;
  background-color: transparent;
}

.row{
  display: flex;
  flex-wrap: wrap;
  flex: 1px;
  margin-left: -16px;
  margin-right: -16px;
}

.info-box-img{
  font-weight: 700 !important;
  font-size: 32px !important;
  font-family: var(--uicomponents-font-family, "Lexend Deca", Helvetica, Arial, sans-serif) !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  margin-bottom: 16px;
  margin-top: 0;
  display: block;
  line-height: normal !important;
  text-transform: none !important;
}
